html, body {
    font-family: 'Lato', sans-serif;
    position: relative;
}
body {
    -webkit-print-color-adjust: exact !important;
}
body .container {
   padding: 0;
   position: relative;
   margin-bottom: 10px;
   border: 2px solid #00d97163;
}
img.bg {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
}
.h4, h4 {
    font-size: 20px;
}

table, td, th, ul {
    border: 2px solid green;
}
h3 {
    background-color: #CD4;
}
/* h3 {
    border-top: 2px solid green;
    border-left: 2px solid green;
    border-right: 2px solid green;
} */

.htird-section-custom p , .htird-section-custom h1 , .htird-section-custom h2 , .htird-section-custom h3 , .htird-section-custom h4 , .htird-section-custom h5 , .htird-section-custom h6 {padding:0px 15px; }
p {
   font-size: 18px;
}

section.academy-content {
    position: absolute;
    z-index: 1;
    text-align: left;
    text-transform: uppercase;
    top: 70%;
    left: 21%;
    transform: translate(-28%, 0);
}
.white-bk {
   background: #fff;
   max-width: 329px;
   padding: 15px;
   color: #000;
   border: 1px solid #000;
}
.academy-content .white-bk h3{
   color:#000 ;
    margin-bottom:0px;
}

.academy-logo.abs {
   position: absolute;
   top: 15px;
   left: 100px;
   z-index: 99999;
   max-width: 412px;
}
.academy-content h3 {
    color: #ffffff ;
}
.academy-content .jumbo-text h3 {
    color: #484848;
    font-size: 100px;
}
ul {
   /* margin-left:42%; */
}
ul li{
   /* text-align:left; */
    font-size:21px;
}
.white-bk.white-bk-1 h3 {
    font-size: 14px;
}
.academy-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.academy-details .content h3 {
    color: #000000 !important;
    font-size: 35px;
    text-transform: uppercase;
}
.academy-details .content p {
    /*margin: 3%;*/
}
.logo {
    width: 100%;
    padding-left: 30px;
    padding-top: 19px;
    padding-bottom: 50px;
    max-width: 400px;
}
img.academy-logo {
    width: 100%;
}
section.content {
    max-width: 60%;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    /*margin-top: 15%;*/
    color: #000000;
    padding: 5%;
}
section.content.contact-details {
    margin-top: 30%;
}
section.content.profile-details {
    max-width: 80%;
}
section.content.profile-details .row .text {
    text-align: justify;
}
section.content.profile-details .row div img {
    width: 90%;
    height: auto;
}
section.content.profile-details .row div {
    text-align: center;
}
section.content.profile-details .row {
    margin-top: 5%;
}
section.footer {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 20px;
}
section.footer img.academy-logo {
    width: 20%;
}
section.footer p {
    color: #000;
    margin: 0;
}
.container .row {
    margin: 0;
    justify-content: center;
}
.academy-details-chart section.content {
    max-width: 92%;
    margin: 0 auto;
    text-align: center;
    margin-top: 7%;
    color: #000000;
    padding: 0;
    font-size: inherit;
}
.row.maincontent.main-content-less-padding{
   margin-top:0px;
}
.academy-details.academy-details-chart .content h3 {
    color: #000000 !important;
    font-size: 42px;
    text-transform: uppercase;
    padding-bottom: 45px;
}
.chart-date-list {
    padding: 0;
    width: auto;
    margin-right: 60px;
}
.chart-date-list .row {
    display: inherit;
}
.chart-date {
    border: 2px solid green;
    border-bottom: 0px solid;
}
.chart-date-list .chart-date .row {
    display: flex;
    border-bottom: 2px solid green;
}
.chart-date-list .chart-date .row:last-child {
    border-bottom: 0px solid;
}
.chart-date .row span {
    border-right: 1px solid green;
    width: 25%;
    font-size: 16px;
    font-weight: bold;
}
.chart-date .row span:last-child {
    border-right: 0px solid green;
}
.chart-numbers {
    border: 3px solid green;
    position: relative;
}
.chart-numbers hr {
    border-top: 3px solid green;
}
.circle {
    display: inline-block;
    border-radius: 100%;
    border: 2px solid green;
    min-width: 10px;
    padding: 0.6em;
    margin: 5px;
}
.circle div {
    position: relative;
    height: 0;
    padding: 50% 0;
    top: -17px;
    font-size: 22px;
    font-weight: bold;
}
.circle.square {
    border-radius: 0;
}
.circle.square.right {
    position: absolute;
    right: -57px;
}
.circle.square.left {
    position: absolute;
    left: -58px;
}
.circle.active {
    border: 5px solid red;
}
.divider.divider1 hr {
    position: absolute;
    transform: rotate(60deg);
    left: -25%;
    top: 23.5%;
    margin: 0;
    width: 100%;
}
.divider.divider2 hr {
    position: absolute;
    transform: rotate(-60deg);
    left: 25%;
    top: 23.5%;
    margin: 0;
    width: 100%;
}
.chart-date-list .middle-one {
    margin: 7% 0;
}
.chart-list {
    border: 2px solid green;
    padding: 0;
    min-width: 400px;
    text-align: left;
}
.chart-list .row {
    border-bottom: 2px solid green;
    padding: 0;
}
.chart-list .row .col-10, .chart-list .row .col-2 {
    border-right: 2px solid green;
    padding: 12px 15px;
}
.chart-list .row .col-10 span, .chart-list .row .col-2 span {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}
.chart-list .row:last-child {
    border-bottom: 0px solid #000000;
}
img.star-chart {
    width: 50%;
    margin: 0 auto;
    height: 50%;
}
.chart-list .row div {
    border-right: 2px solid green !important;
    padding: 12px 12px !important;
}
/* .profile {
    text-transform: uppercase !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 46px !important;
}
*/
.container2 h2, .container3 h2, .container4 h2, .container5 h2, .container6 h2 {
    margin-bottom: 1rem;
}
.semi-size {
   font-size:25px;
}
.personlogo {
    width: auto;
    height: 270px;
    margin-top: 30%;
    margin-left: 12%;
}
.maincontent {
    margin-top: 10% ;
}
.chart-list {
    margin-top: 8% !important;
}
.no-margin {
    margin-left: 0px;
}
.htird-section-custom {
    padding-top: 75px;
}
.center {
   text-align:center;
}
.center-img {
   display: block;
    margin:auto;
}
.big-image img{
   max-width:800px;
}
.htird-section-custom .container-fluid {
   padding:0px!important;
}
.htird-section-custom .row{
   padding:0px!important;
}
.htird-section-custom .col-md-4 {
   padding:0px!important;
}

.round-image img{max-width:300px; }
.round-2 img{max-width:400px; }
.price-d img{max-width:800px; }
.line-height-2 {line-height:2;}
.philosopher img{display:block; margin:auto; }


.htird-section-custom.must-hv.testimonial-cut img {
   max-width: 180px;
}

.first-blue {
   display: block;
   width: 100%;
   height: 2px;
   background: #168ab8;
   position: absolute;
   top: 13%;
   margin: auto;
   left: 0;
   right: 0;
   max-width: 72%;
}

.first-blue1 {
   top: 27%;
   max-width: 43%;
}

.vertical-span {
   position: absolute;
   margin: auto;
   left: 0;
   right: 0;
   height: 27%;
   width: 2px;
   background: #168ab8;
}

.philosopher {
   margin-top: 5%;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.5 !important;
}

table, ul {
    margin-bottom: 0rem !important;
}